
/* wrapper for whole page */
.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(150px, auto);
    grid-template-areas:
    '. portfolioDiv portfolioDiv . .'
    '. graph graph sidebar-div .'
    '. graph graph sidebar-div .'
    '. addFundsDiv addFundsDiv sidebar-div .'
    '. . . sidebar-div .'
    '. . . . .'
    ;
    width: 100%;
}
.linkstostocks{
    border: 1px solid black;
    background-color: greenyellow;
    text-decoration: none;
    padding: 3px;
    border-radius: 5px;

}
.portfolioDiv {
    grid-area: portfolioDiv;
    /* background-color: rgb(211, 147, 182); */
    margin: 0px;
    padding-left: 10px;
    position: relative;
    bottom: 0;
    border-bottom: black solid 1px;
}

.portfolioDiv h1 {
    position:absolute;
    margin: 0;
    bottom: 0;
}

.graph {
    grid-area: graph;
    margin: 0;
    padding: 10px;
    border-bottom: black solid 2px;
}

.addFundsDiv {
    grid-area: addFundsDiv;
    /* background-color: lightyellow; */
    margin: 0px;
    padding: 5px;
}

.sidebar-div {
    grid-area: sidebar-div;
    background-color: rgb(219, 226, 231);
    color: black;
    margin-left: 30px;
    padding: 3px;
    border: black solid 1px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px black;
    overflow-y: scroll;
    overflow-x: hidden;
}

.sidebar-div h1 {
    display: flex;
    justify-content: center;
}

.sidebar-div::-webkit-scrollbar {
    background-color: #6afa27;
    width: 8px;
    border-radius: 10px;
    border: black solid 1px;
}

/* thumb is the slider */
.sidebar-div::-webkit-scrollbar-thumb {
    background-color: black;
    width: 4px;
    border-radius: 10px;
}

.porfolioListDiv {
    /* background-color: aquamarine; */
    margin: 3px;
    min-height: 50%;
    border-bottom: black solid 2px;
}

.porfolioUl {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.porfolioLi {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
    letter-spacing: .5px;
    margin: 1px;
    padding: 5px;
    border: black solid 1px;
    border-radius: 3px;
}

.watchlistDiv {
    /* background-color: lightcyan; */
}

.watchlistUl {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.watchlistLi {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
    letter-spacing: .5px;
    margin: 1px;
    padding: 5px;
    border: black solid 1px;
    border-radius: 3px;
}

.ticker {
    display: flex;
    justify-content: center;
    font-weight: bold;
    padding: 3px;
    height: 100%;
    width: 20%;
}

.shares {
    display: flex;
    justify-content: center;
    font-weight: bold;
    padding: 3px;
    height: 100%;
    width: 25%;
}

.lilGraph {
    padding: 3px;
    display: flex;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 1px black;
    width: 50%;
}

.price {
    display: flex;
    justify-content: center;
    position: relative;
    font-weight: bold;
    padding: 3px;
    height: 100%;
    width: 30%;
}

.percent {
    display: flex;
    justify-content: center;
    font-weight: bold;
    padding: 3px;
    height: 100%;
    width: 25%;
}

.port-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    padding: 3px;
    height: 100%;
    width: 30%;
}

.port-div p {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 2px;
    width: 100%;
    height: 50%;
}

.add-funds-form {
    display: flex;
    flex-direction: column;
    border-bottom: black solid 1px;
}

.add-funds-form input {
    margin-left: 0;
    margin-top: 10px;
    width: 80%;
    height: 5px;
    padding: 15px 10px;
    /* values = x   y  blur spread color */
    /* box-shadow: 0px 0px 3px 1px black; */
    /* border-radius: 5px; */
    border: 1px solid grey;
    border-bottom: black solid 1px;
    background-color: transparent;
}

.add-funds-form input:focus {
    /* box-shadow: 0px 0px 10px 5px black; */
    /* border-radius: 5px;
    box-shadow: 0px 0px 3px 3px black; */
    border: none;
    border-bottom: black solid 1px;
}

.add-funds-form input:valid {
    /* box-shadow: 0px 0px 10px 5px black; */
    /* border-radius: 5px;
    box-shadow: 0px 0px 3px 3px black; */
    border: none;
    border-bottom: black solid 1px;
    background-color: transparent;
}

.add-funds-form button {
    padding: 15px;
    width: 35%;
    margin-top: 10px;
    margin-bottom: 3px;
    border: black solid 1px;
    border-radius: 3px;
}

.warning{
    color: red;
    font-weight: bold;
}

.dashboard-button {
    border: none;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
    font-size: 14px;
    padding: 5px;
}

.dashboard-button:active {
    background-color: black;
}

.dashboard-button:hover {
    color: #6afa27;
    background-color: black;
    border-radius: 3px;
}

.add-funds-pTag {
    margin: 8px;
}

.available-funds-h3 {
    margin: 8px;
}
