.row-home{
    display: flex;
    flex-direction: row;
    height:80vw;
    width: 100%;
    background-color: rgb(200,252,68);
}
.home-column-1 {
    /* display: block;
    background-color: maroon;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 30%;
    height: 100% */
    /* background-color: rgb(195,245,60); */
    background-color: black;
    border-bottom-color: rgb(0,0,0);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    overflow: hidden;
    /* position: relative; */
    padding: 70px
    ;
}
.home-column-2{
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; */
    height: 80vw;
    width: 50%;
    margin-left: 10vw;
    background-color: rgb(200,252,68);



}

.home-column-2-top {
    background-color: rgb(200,252,68);
    height: 50%;
    width: 100%;
    background-size: contain;
    background-image: url('../styles/images/credits_to_robinhood.com.gif');
}

.home-column-2-bottom {
    background-color: rgb(200,252,68);
    padding: 5vw 10vw;
    border-bottom: solid 100% rgb(200,252,68);
    margin-bottom: 0px;
    box-sizing: border-box;


}


/* .h2-0{
    margin-left: 10px;
    color: white;

} */
.h1-0{
    /* margin-left: 10px;
    margin-top: 200px;
    color: white; */
    font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 52px;
    font-style: normal;
    font-weight: 450;
    line-height: 60px;
    -webkit-letter-spacing: -1.75px;
    -moz-letter-spacing: -1.75px;
    -ms-letter-spacing: -1.75px;
    letter-spacing: -1.75px;
    -webkit-text-decoration: unset;
    text-decoration: unset;
    color: white;
}

.description_1 {
    font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    -webkit-letter-spacing: -0.24px;
    -moz-letter-spacing: -0.24px;
    -ms-letter-spacing: -0.24px;
    letter-spacing: -0.24px;
    -webkit-text-decoration: unset;
    text-decoration: unset;
    color: white;
}

.description_2 {
    font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    -webkit-letter-spacing: -0.24px;
    -moz-letter-spacing: -0.24px;
    -ms-letter-spacing: -0.24px;
    letter-spacing: -0.24px;
    -webkit-text-decoration: unset;
    text-decoration: unset;
    color: white;
}

.description_3 {
    font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    -webkit-letter-spacing: -0.24px;
    -moz-letter-spacing: -0.24px;
    -ms-letter-spacing: -0.24px;
    letter-spacing: -0.24px;
    -webkit-text-decoration: unset;
    text-decoration: unset;
    color: white;
}

.sign_up {
    color: black;
    text-decoration: none;
    align-items: center;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    text-align: center;
    white-space: nowrap;
    padding: 0px 36px;
    height: 48px;
    min-width: 144px;
    border-radius: 24px;
    cursor: pointer;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
}

.sign_up_outer_container {
    display: flex;
}

.sign_up_container {
    position: relative;
    margin-top: 50px;
}
