nav{
    /* display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 64px;
    background-color: #E34819; */
    /* -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    box-shadow: 0px 1px 4px 0px rgb(0 0 0 / 20%);
    /* display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; */
    height: 64px;
    padding: 0 30px;
    margin-top: 0px;
}
.firstbox{
    grid-column: 1;
}

.secondbox{
    grid-column: 2;
}

.thirdbox{
    grid-column: 3;
    position: fixed;
    /* width: 50vw; */
    margin-right: 283px;
}

.fourthbox{
    grid-column: 4;
    margin-right: 300px;
}
.signup{
    /* display: block;
    border-radius: 10px;
    background-color: lightgreen;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-decoration: none; */
    color: black;
    text-decoration: none;
    align-items: center;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    text-align: center;
    white-space: nowrap;
    padding: 0px 36px;
    height: 48px;
    min-width: 144px;
    border-radius: 24px;
    cursor: pointer;
    background-color: rgb(0, 200, 5);
    font-size: 20px;
    font-weight: bold;
}

.login{
    color: black;
    text-decoration: none;
    align-items: center;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    text-align: center;
    white-space: nowrap;
    padding: 0px 36px;
    height: 48px;
    min-width: 144px;
    border-radius: 24px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.home{
    display: block;
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-decoration: none;
    font-size: 27px;
    color:black;
}

.feather_icon {
    color: black;
    display: flex;
    align-items: center;
}

.feather_icon_container {

}

.fa-feather:before {
    margin-left: 5px;
}

.nav_icons {
    display: flex;
}

.dashboard {
    display: block;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 17px;
}

.welcome_message_container {

}

.welcome_message_outer_container {

}

.welcome_message_inner_container {
    display: block;
    border-radius: 10px;
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 17px;
}

.search_outer_container {
    display: flex;
}

.search_inner_container {
    display: flex;
    justify-content: end;
}

.search {
    /* position: absolute;
    right: 740px; */
    margin-right: 620px;
    margin-bottom: 15px;
}

.logout_btn {
    display: block;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 17px;
    margin-left: 1070px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-inline: 80px;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display:flex;
    flex-direction: column;
    position: relative;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

  }

  .dropdown-content a:hover {
    background-color: lightskyblue;
  }

  .second_outer_container {
    display: flex;
    flex-direction: row;
    margin-inline: 1000px;
  }

  .second_container {

  }
