html, body {
  margin:0px;
  height:100%;
}

.column-1 {
  float: left;
  height: 977px;
  flex: 50%;
  background-image: url('../styles/images/left-panel.gif');
  }
.column-2{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  float: left;
  width: 50%;
  flex: 50%;
}
.row{
  display: flex;
  height:100%;
}
.login-form{
}

label {
  margin-top: 20px;
  margin-left: 80px;
  display: flex;
  flex-direction: row;
  text-align: right;
  width: 500px;
  line-height: 26px;
  margin-bottom: 0px;
  font-family: Tahoma, sans-serif;
  font-style: bold;
}

.input-div input {
  margin-top: 5px;
  height: 30px;
  width: 400px;
  flex: 0 0 200px;
  margin-left: 80px;
  border-radius: 4px;
  border-color: rgba(196, 167, 144, 0.8);
}

.input-div:hover {
  border-color: rgb(190, 83, 106);
}

.input-div:focus {
  transition: border-color 200ms ease 0s;
  /* outline: 2px solid rgb(0, 255, 13); */
  outline: 2px solid rgb(196, 109, 128);
  border-radius:0;
}
.login-form-btn{
  margin-top: 10px;
  margin-left: 60px;
}
.login-form-btn{
  display: flex;
  margin-top: 90px;
  margin-left: 80px;
  background-color: rgb(13, 223, 24);
  /* background-color: rgb(207, 30, 68); */
  border: none;
  color: black;
  padding: 15px 40px;
  text-align: center;
  align-self: flex-start;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  font-weight: bold;
}
.login-form-btn:hover{
  /* background-color: rgb(10, 168, 18); */
  background-color: rgb(128, 17, 41);
}
.login-title{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  text-decoration: none;
  font-size: 27px;
  color:black;
}
.form-label{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.errors{
  display: flex;
  flex-direction: column;
  align-content: center;
  /* margin-top: 20px; */
  margin-left: 80px;
  font-family: sans-serif;
  font-weight: bold;
}
