.stocks-background{
    display: flex;
    justify-content: center;
    position:fixed;
    top:0;
    left: 0;
    width:100%;
    height:100%;
    background-color: black;
}
.stocks-info-container{
    display: flex;
    justify-content: flex-start;
    margin-top: 70px;
    padding-top: 36px;
    height: 100%;
    width: 50%;
    background-color: white;
}
.stock-title{
    font-size: 36px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 10px;
    margin-bottom: 0px;
    width:535px;}
.stock-price{
    margin-top: 0px;
    margin-left: 10px;
    font-size: 36px;
    font-weight: 700;
}
.stock-change{
    margin-top: 0px;
    margin-left: 10px;
    font-size: 14px;
}
.side-bar-content{
    position: absolute;
    display: flex;
    align-items: left;
    margin-top: 45px;
    margin-left: 680px;
}
.actions-container{
    background-color: white;
    width: 250px;
    height: 400px;
    outline: 1px solid black;
    box-shadow: 1px 1px 5px black;
}
.buy-form{
    display: flex;
    flex-direction: column;
    float: auto;
}
.buy-btn{
    margin-top: 30px;
    margin-left: 100px;
}
.buy-btn{
    display: flex;
    margin-left: 80px;
    /* background-color: rgb(13, 223, 24); */
    background-color: rgb(207, 30, 68);
    border: none;
    color: white;
    padding: 15px 40px;
    text-align: center;
    align-self: flex-start;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
  }
  .buy-btn:hover{
    /* background-color: rgb(10, 168, 18); */
    background-color: rgb(128, 17, 41);
  }

.watchlist-btn{
    position: absolute;
    display: flex;
    /* background-color: rgb(13, 223, 24); */
    background-color: white;
    border: none;
    color: rgb(207, 30, 68);
    padding: 15px 40px;
    text-align: center;
    align-self: flex-start;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    /* margin-left: 400px; */
    margin-top: 450px;
    outline: 1px solid;
}
.watchlist-btn:hover{
    /* background-color: rgb(10, 168, 18); */
    color: rgb(184, 62, 88);
}
.watchlist-container{
    margin-top: 30px;;
    margin-left: 180px;
    border-radius: 8px;
  }
.form-item{
      font-size: 12px;
      font-weight: normal;
  }
.form-shares {
      display: flex;
  }
.form-shares-input{
      margin-top: 40px;
      margin-right: 40px;
      height: 50%;
      max-width: 40px;
     }

.form-market-price{
        display: flex;
     }
.market-price{
        margin-top: 45px;
        margin-right: 20px;
         font-size: 14px;
     }
.est-cost-container{
    display: flex;
}
.total-price{
    margin-top: 45px;
    margin-right: 20px;
     font-size: 14px;
}
.buying-power-container{
font-size: 10px;
margin-left: 40px;
}

.company-graph{
    position: absolute;
    margin-top: 190px;;
    height: 300px;
    width: 600px;
    margin-left: 12px;
}
.time-btn{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    color: rgb(0, 0, 0);
}


.loader {
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    perspective: 800px;
    background-color: black;
  }.inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }.inner.one {
    left: 0%;
    top: 0%;
    animation: rotate-one 1s linear infinite;
    border-bottom: 3px solid #EFEFFA;
  }.inner.two {
    right: 0%;
    top: 0%;
    animation: rotate-two 1s linear infinite;
    border-right: 3px solid #EFEFFA;
  }.inner.three {
    right: 0%;
    bottom: 0%;
    animation: rotate-three 1s linear infinite;
    border-top: 3px solid #EFEFFA;
  }@keyframes rotate-one {
    0% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
  }@keyframes rotate-two {
    0% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
  }@keyframes rotate-three {
    0% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
  }
